.date
{
	cursor: default;
}

input[type=text]
{
	max-width: 150px;
    min-width: 50px;
    width: 100%;
}

td p span input[type="text"] {
    max-width: 150px;
    min-width: 50px;
    width: 70%;
}

.marker {
	background: #00c09d;
	padding: 4px 5px;
	margin: 5px;
}